*old*
__pycache__
*/tmp*
parse*

tb/
out/
data/
vcd/

rtl/DummyBRAM.v

py/*
!py/*_simgen.py
!py/__init__.py
# !py/example_codegen.py

venv/*
!venv/requirements.txt
test

# vivado

vivado/vivado_22.2/KAN_SoC/KAN_SoC.cache
vivado/vivado_22.2/KAN_SoC/KAN_SoC.hw
vivado/vivado_22.2/KAN_SoC/KAN_SoC.ip_user_files
vivado/vivado_22.2/KAN_SoC/KAN_SoC.sim

test
log
vivado
graphs
dot
temp
