*old*
__pycache__
*/tmp*
parse*
.vscode

tb/
out/
data/
vcd/

rtl/DummyBRAM.v
rtl/wrapper/KanAcceleratorInstWrapper*.v
rtl/wrapper/tb_kan_accelerator_wrapper.v
rtl/*tmp*

py/*
!py/*_simgen.py
!py/__init__.py
!py/CCURegisters.py
# !py/example_codegen.py

venv/*
!venv/requirements.txt
test
log
graphs
dot

temp

# vivado
vivado/*/*
!vivado/*/*.tcl


#vitis
vitis/System_Versions/Version_0/RemoteSystemsTempFiles
vitis/lib
*log
*.metadata
*logs
*_temp
*.analytics
*Packages
